body {
    font-family: Arial; 
}

.ctable{
	text-align:center;
	width:100%;
}

.table, th, td {
  border: 1px solid;
}

.centered-table{
	background-color:lightblue;
}

th{
	background-color:lightblue;
	text-align:center;
}

h1{
	text-align:center;
}

.left{
	text-align:left;
}

.title{
    text-align: center;
}

.Parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.child1 {
    width: 50%;
    height: 100vh;
    text-align: right;
}

.child2 {
    width: 50%;
    height: 100vh;
    text-align: right;
}

.styledimg{
    background-repeat: no-repeat;
    
}

.image{
    align-self: center;
    max-width: 100%;
    object-fit: contain;
    flex-shrink: 0;
}
