body {
    font-family: Arial; 
}

.centered-table{

	text-align:center;
	width:100%
	background-color:lightblue;
}

.table, th, td {
  border: 1px solid;
}

th{
	background-color:lightblue;
	text-align:center;
}

h1{
	text-align:center;
}

.left{
	text-align:left;
}


.Acknowledgements{
	text-align:center;
}

.title{
    text-align: center;
}

.Parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.child1 {
    width: 50%;
    height: 100vh;
    text-align: right;
}

.child2 {
    width: 50%;
    height: 100vh;
    text-align: right;
}

.styledimg{
    background-repeat: no-repeat;
    
}

.image{
    align-self: center;
    max-width: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

circle {
    fill:red;
    opacity:0.5;
}


.rectangle {
    fill:aqua;
    stroke: black;
    stroke-width:2;
}

.Parent2 {
    display: flex;
    flex:auto;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 10px;
    gap: 10px 20px; 
    row-gap: 10px;
    column-gap: 20px;
    justify-content: space-around;

}

.child {
    max-width: 100%;
    align-items: center;
    object-fit: contain;
    flex-shrink: 3;
    flex-basis: auto;
    justify-content:center;
}

.svgs{
    text-align: right;
    flex-shrink: 0;
    object-fit: contain;
}

